# This is my response to the Quiz One.

In [6]:
"""If you’re given two lists:
A = [1,2,3,4,5,6], B = [13, 21, 34]
The task is to create a list with the elements of A and B in a single dimension with output:
A_B =  [1,2,3,4,5,6,13, 21, 34]
Which of the following option is the best way to create this list?
"""
# Answer is None of the above as we can see that both append and extend returns a NoneType

A = [1,2,3,4,5,6]
B = [13, 21, 34]
print(type(A.append(B)))

<class 'NoneType'>

In [9]:
# Question 2. 
# How do you create an identity matrix in python?
# Answer is np.identity(3)

import numpy as np
d = np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
# Reading data from csv
import pandas as pd
fuel_data = pd.read_csv('fuel_ferc1.csv')
fuel_data.head()

In [17]:
# Question 3.
# Which of the following fuel type code has the lowest average fuel cost per unit burned?
# Answer is Gas as can be seen from the output below

fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [18]:
# Question 4.
# What is the standard deviation energy per unit (Fuel_mmbtu_per_unit) 
# Answer is 10.60 as can be seen below


fuel_data['fuel_mmbtu_per_unit'].std()

10.600220307806714

In [21]:
# Question 4b.
# 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?
# Answer is 17.01 as can be seen below
fuel_data['fuel_mmbtu_per_unit'].quantile(.75)

17.006

In [39]:
# Question 5
# What is the skewness fuel quantity burned in two decimal places?
# Answer is 15.85 for skewness
fuel_data['fuel_qty_burned'].skew().round(decimals=2)

15.85

In [38]:
# Question 5b
# What is the kurtosis for the fuel quantity burned in two decimal places?
# Answer is 651.37 as can be seen below
fuel_data['fuel_qty_burned'].kurtosis().round(decimals=2)

651.37

In [31]:
# Question 6
# Which feature has missing values and what is the total number of missing value and percentage of the missing 
# rows as a factor of the total number of rows in three decimal places? 
# (Answer in the format: Feature: fuel_unit, Total: 180, Percent: 0.609)

# Gettignt he Total of missing values
missing_value = fuel_data.isnull().sum()
missing_value

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [33]:
# Question 6
num_missing_value = missing_value['fuel_unit']
num_missing_value

180

In [32]:
# Question 6
# percentage of the missing rows as a factor of the total number of rows in three decimal places? 
number_of_rows = fuel_data.count()
total= number_of_rows['record_id']
total

29523

In [37]:
# Question 6
# Percentage of the missing rows as a factor of the total number of rows in three decimal places
# Answer is 0.61

percent = (num_missing_value/total * 100).round(decimals=2)
percent

0.61

In [ ]:
# Question 7
# The feature with missing values falls under what category? What missing value imputation technique would you use?
# Answer: Categorical and mode imputation
# Since the fuel_unit field is not a numerical field. Using the modal imputation replaces the null value with 
# the value that has the highest occurence which is 'mct'.

In [43]:
# Question 8
# Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?
# Answer = fuel_mmbtu_per_unit and fuel_cost_per_mmbtu respectively from the output below

fuel_data.corr(method= 'pearson')

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [66]:
# Question 9
# For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?
# Answer: I could not get the percentage change between the two years since there is no aggregate value for the two years.
# There are different values in same year.

# fuel cost per unit burned for coal in 1998

fuel_data[['fuel_type_code_pudl', 'report_year', 'fuel_cost_per_unit_burned']].loc[(fuel_data['report_year'] == 1998) 
& (fuel_data['fuel_type_code_pudl'] == 'coal')]

     fuel_type_code_pudl  report_year  fuel_cost_per_unit_burned
4618                coal         1998                     19.282
4619                coal         1998                     19.280
4620                coal         1998                     26.550
4622                coal         1998                     26.550
4624                coal         1998                     30.936
...                  ...          ...                        ...
5708                coal         1998                     15.151
5710                coal         1998                     21.055
5712                coal         1998                     22.596
5714                coal         1998                     14.035
5716                coal         1998                     24.875

[431 rows x 3 columns]

In [67]:
# fuel cost per unit burned for coal in 1994

fuel_data[['fuel_type_code_pudl', 'report_year', 'fuel_cost_per_unit_burned']].loc[(fuel_data['report_year'] == 1994) 
& (fuel_data['fuel_type_code_pudl'] == 'coal')]

     fuel_type_code_pudl  report_year  fuel_cost_per_unit_burned
0                   coal         1994                      18.59
1                   coal         1994                      18.58
2                   coal         1994                      39.72
3                   coal         1994                      47.21
5                   coal         1994                      44.24
...                  ...          ...                        ...
1224                coal         1994                      37.78
1227                coal         1994                      38.23
1229                coal         1994                      40.97
1230                coal         1994                      39.95
1232                coal         1994                      39.19

[475 rows x 3 columns]

In [70]:
# Question 10
# Which year has the highest average fuel cost per unit delivered?
# Answer is 1997 as we can see from the output below

fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64